#white {color: white;}
#blue-30px {color: blue; font-size: 30px;}
#red {color: red;}
.pink {color: pink;}
#h5-1 {color: green; line-height: 75px;}
#h5-2 {font-size: 2em;}
#h6-1 {color: yellow; line-height: 200px;}
#h6-2 {font-size: 3rem;}
#green {color: darkgreen;}
#black {color: black;}