body {
    background-color: black;
}
a {
    float: left;
    background-color: lightgray;
    padding: 15px;
    margin: 1px;
    font-family: Arial;
    font-size: 50px; 
}
p {
    float: left;
    background-color: lightgray;
    padding: 15px;
    margin: 1px;
    font-family: Arial;
    font-size: 50px; 
}
div {
    position: fixed;
    top: 0;
    left: 0;
}
